*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

table{
  display: inline-block;
  border: 1px solid gray; 
}

tr{
  border: 1px solid gray; 
}

th, td{
  text-align: left; 
  border: 1px solid gray; 
}

input[type='text']{
  width: 50px;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: 1px none gray;
  outline: none;
}

input[type='number']{
  width: 25px;
  padding: 0;
  margin: 0;
  border: 1px none gray;
  outline: none;
  /* Firefox turn off arrows*/
  -moz-appearance: textfield;
}

.hideSum{
  font-size: 0;
}

.hidden{
  display: none;
}

.caption {
  font-weight: bold;
}

input[type='button']{
  white-space: normal;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
}

#scoreboard{
  min-height: 100%;
  position: relative;
}

#tableContent {
  overflow-x: auto;
  text-align: center;
  /*padding-bottom: 106px;*/
}

#mainmenu{
  text-align: center;
}

/* Chrome, Safari, Edge, Opera  turn off arrows of input=number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* responsive stuff */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.golfButton {
  position: relative;
  padding:0;
  
}

.golfButton img{
  width: 100%;
  height: auto;  
  min-width: 55;
  max-width: 100px;
}

.golfButton button{
  position: absolute;
  transform: translate(-100%, -0%);
  -ms-transform: translate(-100%, -0%);
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height:100%;
  min-width: 55;
  max-width: 100px;
}

@media only screen and (max-width: 330px){
  .golfButton button{
    font-size: 10px;
  }
}

@media only screen and (max-width: 230px){
  .golfButton button{
    font-size: 5px;
  }
}

.ingame-menu {
  overflow: hidden;
  background-color: green;
  position: fixed;
  bottom: 0;
  width: 100%;
  /*height: 106px;*/
  text-align: center;
}

#fixedMenuSpacer {
  clear: both;
  height: 100px;
}