
table{
  display: inline-block;
  border: 1px solid gray;
  transform: rotate(270deg);
  
}

tr{
  border: 1px solid gray; 
}

th, td{
  text-align: left; 
  border: 1px solid gray; 
}

input[type='text']{
  width: 50px;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: 1px none gray;
  outline: none;
}

input[type='number']{
  width: 25px;
  padding: 0;
  margin: 0;
  border: 1px none gray;
  outline: none;
  /* Firefox turn off arrows*/
  -moz-appearance: textfield;
}

.hideSum{
  font-size: 0;
}

.hidden{
  display: none;
}

#scoreboard{
  height: 100%;
}

#tableContent {
  overflow-x: auto;
  text-align: center;
}

#mainmenu{
  text-align: center;
}

/* Chrome, Safari, Edge, Opera  turn off arrows of input=number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}